

.bg-color-1{
    background-color: #1c1726 !important;
}

.bg-color-2{
    background-color: #101214;
}

.color-1{
    color: beige;
}

.br-color-1{
border-color: red !important;
}

.particle:hover, button:hover{
    box-shadow: 0px 0px 3px 1px red;
}

img{
    width: 10vw;
}
